@-webkit-keyframes moveTagLine {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -100%;
    }
}
@-moz-keyframes moveTagLine {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -100%;
    }
}
@-o-keyframes moveTagLine {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -100%;
    }
}
@keyframes moveTagLine {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -100%;
    }
}

.home {
    width: calc(100% - 190px);
    height: 100vh;
    float: right;
    @extend %disFlex;
    justify-content: space-between;
    align-items: center;
    .video-slider {
        flex-basis: 95%;
        height: 80%;
        position: relative;
        @extend %disFlex;
        justify-content: flex-end;
        align-items: center;
        .tag-animation {
            height: 460px;
            @include positioning(absolute, $bottom: 0);
            z-index: -1;
            -webkit-animation: moveTagLine 35s linear infinite;
            -moz-animation: moveTagLine 35s linear infinite;
            -o-animation: moveTagLine 35s linear infinite;
            animation: moveTagLine 35s linear infinite;
        }
        .slider-item {
            width: 65%;
            height: 100%;
            position: relative;
            .video-info {
                width: 50%;
                @include positioning(absolute, $top: 80px, $left: -70px);
                z-index: 1;
                p {
                    font-size: fontSize(13px);
                    line-height: 40px;
                }
                button.watch {
                    float: right;
                    background: transparent;
                    border: 0;
                    font-size: fontSize(2px);
                    color: $quinary-color;
                    font-weight: fontWeight(300);
                    cursor: pointer;
                    &:hover {
                        i {
                            @include transitions(all, 0.3s, cubic-bezier(.2, 1, .3, 1));
                            margin-left: 25px;
                        }
                    }
                    i {
                        @include transitions(all, 0.3s, cubic-bezier(.2, 1, .3, 1));
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .login-social-icons-holder {
        @extend %disFlex;
        flex-basis: 5%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $agent-color-1;
        a {
            color: $primary-color;
            font-family: 'Roboto Mono', monospace;
            font-weight: fontWeight(300);
            font-size: fontSize(2px);
            position: relative;
            i {
                @include positioning(absolute, $top: 4px, $left: -30px);
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-align: center;
                cursor: pointer;
                @include transitions(all, 0.3s, cubic-bezier(.2, 1, .3, 1));
                @include translate(0, 0, 0);
                &:hover {
                    @include translate(8px, 0, 0);
                    @include transitions(all, 0.3s, cubic-bezier(.2, 1, .3, 1));
                }
            }
        }
        .chat-icon {
            position: relative;
            img {
                width: 80px;
                height: 80px;
                @include border-radius(50%);
                object-fit: cover;
            }
            .chat-welcome {
                width: 230px;
                background: $primary-color;
                @include positioning(absolute, $left: -240px, $top: 7px);
                color: $agent-color-1;
                font-size: fontSize(2px);
                padding: 10px;
                font-weight: fontWeight(-100);
            }
        }
    }
}